body {
    margin: 20px;
    background-color: rgb(57, 57, 57);
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
}

.flip-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 300px; /* Tetapkan ukuran yang Anda inginkan */
    height: 300px; /* Tetapkan ukuran yang Anda inginkan */
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size:1.2rem;
    color: white;
}  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(4, 4, 4);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
.flip-card-front {
    background-color: #000202;

    color: black;
  }
.frame {
    width: 200px;
    height: 200px;
    background: #0dfff7;
    margin: 0rem 0 0 3rem;
    border-radius: 200%;
    box-shadow: 0 6px 18px 0 rgb(34, 255, 244);
  }

#avatar {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 200%;
}
.flip-card-back {
    background-color: #191919;
    color: white;
    transform: rotateY(180deg);
}
/* Gaya untuk ikon info */
.info-icon {
    position: absolute;
    top: 25px; /* Sesuaikan posisi vertikal */
    right: 25px; /* Sesuaikan posisi horizontal */
    z-index: 2; /* Menempatkan elemen di atas class="card" */
    font-size: 24px;
    color: #ffffff; /* Warna ikon */
    cursor: pointer; /* Ganti kursor saat dihover */
}

.info-container {
    position: absolute;
    top: 10px; /* Atur sesuai kebutuhan */
    left: 10px; /* Atur sesuai kebutuhan */
    z-index: 1; /* Pastikan elemen-elemen info-container di atas card */
    color: #000202;
    
}

#name, #role, #location {
    margin: 1rem 0 0 1rem;
    box-shadow: 10px 5px 6px 3px rgb(0, 0, 0);
    max-width: 100%;
}
#name {
    font-size: x-large;
    background-color: #01ffe6;
    
    padding: 0.5rem; /* Atur sesuai kebutuhan */
    /* Hapus properti white-space dan overflow */
}
#role {
    font-size: medium;
    background-color: #f0f3f2;
    padding: 0.5rem; /* Atur sesuai kebutuhan */
    /* Hapus properti white-space dan overflow */
}
#github {
    position: absolute;
    top: 70%; /* Sesuaikan posisi vertikal */
    right: 15px; /* Sesuaikan posisi horizontal */
    z-index: 2; /* Menempatkan elemen di atas class="card" */
    width: 15%;
    margin-right: 15px; /* Berikan jarak dari elemen lain */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    transition: transform 0.3s, box-shadow 0.3s; /* Transisi saat hover */
    border-radius: 200%;
}

#linkedin {
    position: absolute;
    top: 50%; /* Sesuaikan posisi vertikal */
    right: 40px; /* Sesuaikan posisi horizontal */
    z-index: 2; /* Menempatkan elemen di atas class="card" */
    width: 10%;
    box-shadow: 0 4px 8px rgb(0, 229, 255); /* Efek bayangan */
    transition: transform 0.3s, box-shadow 0.3s; /* Transisi saat hover */
}
#github:hover,
#linkedin:hover {
    transform: scale(1.3); /* Efek membesar */
    box-shadow: 1px 6px 10px rgb(0, 229, 255); /* Efek bayangan saat hover */
}

.card {
    width: 90%;
    height: 90%;
    border-radius: 10%;
    display: block;
    margin: 15px 0 0px 15px;
    background-image: url("https://i.pinimg.com/736x/d0/9b/63/d09b6336edce4a5553b8dceb1e04930e.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 12px 2px rgb(3, 3, 3);
}

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 30vh;
    /* background: url("https://i.postimg.cc/c1Q3njM0/bg2.jpg"); */
    /* background-color:black; */
    /* background-size: cover; */
    /* animation: animateBg 20s linear infinite; */
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(3.2);
    }
}

span{
    position: absolute;
    top:50%;
    left:50%;
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 10s linear infinite;
}
span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    width: 250%;
    height: 1px;
    /* background: linear-gradient(90deg,#fff,transparent); */
}
/* @keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(80px);
        opacity: 0;
    }
} */
span:nth-child(1){
    top: 50;
    right: 0;
    left: initial;
    animation-delay: 1s;
    animation-duration: 4s;
}
span:nth-child(2){
    top: 130;
    right: 0;
    left: initial;
    animation-delay: 1s;
    animation-duration: 6s;
}
span:nth-child(3){
    top: 200;
    right: 0;
    left: 20;
    animation-delay: 2s;
    animation-duration: 5s;
}
span:nth-child(4){
    top: 300;
    right: 0;
    left: 50;
    animation-delay: 2s;
    animation-duration: 3.5s;
}
span:nth-child(5){
    top: 260;
    right: 100;
    left: 100;
    animation-delay: 5s;
    animation-duration: 6.5s;
}
span:nth-child(6){
    top: 40;
    right: 0;
    left: 20;
    animation-delay: 4.75s;
    animation-duration: 5.25s;
}
span:nth-child(7){
    top: 250px;
    right: 10px;
    left: 250;
    animation-delay: 4s;
    animation-duration: 5s;
}
span:nth-child(8){
    top: 150px;
    right: 10px;
    left: 250;
    animation-delay: 3.75s;
    animation-duration: 8s;
}
span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 4.75s;
    animation-duration: 5.25s;
}
span:nth-child(9){
    top: 50;
    right: 10;
    left: 280;
    animation-delay: 1s;
    animation-duration: 4s;
}
span:nth-child(10){
    top: 20;
    right: 10;
    left: 220;
    animation-delay: 1s;
    animation-duration: 4s;
}

ul {
    position: absolute;
    top: 82%;
    left: 5%;
    display: flex;
  }
  ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;

    animation: animate 1.7s ease-in-out infinite;
  }
  @keyframes animate {
    0%,
    40%,
    100% {
      transform: scale(0.2);
    }
    20% {
      transform: scale(1);
    }
  }

  ul li:nth-child(1) {
    animation-delay: -1.2s;
    background: yellow;
    box-shadow: 0 0 50px yellow;
  }
  ul li:nth-child(2) {
    animation-delay: -1s;
    background: rgb(99, 247, 136);
    box-shadow: 0 0 50px rgb(99, 247, 136);
  }
  ul li:nth-child(3) {
    animation-delay: -0.8s;
    background: rgb(30, 243, 225);
    box-shadow: 0 0 50px  rgb(30, 243, 225);
  }
  ul li:nth-child(4) {
    animation-delay: -0.6s;
    background: rgb(241, 58, 58);
    box-shadow: 0 0 50px rgb(241, 58, 58);
  }
  ul li:nth-child(5) {
    animation-delay: -0.4s;
    background: rgb(247, 61, 176);
    box-shadow: 0 0 50px  rgb(247, 61, 176);
  }
  audio:hover, audio:focus, audio:active
  {
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  }
  
  
  audio
  {
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
  }
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
